@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #EFEFEF;
  --color-lightblue: #F4FFFF;
  --color-blue: #85BFC3;
  --color-darkblue: #2C9AA2;

  --color-lightgreen: #F4FFF4;
  --color-green: #C7DBC7;
  --color-darkgreen: #5AA057;


  --font-sans: 'Noto Sans', sans-serif;
}

body {
  @apply bg-background;
  @apply font-sans;
}
